<div class="aside-blocks col-lg-4 col-md-4 col-xs-12">
    <section class="sidebar"> 
        <aside class="author">
            <img src="/resource/BlogHome/img/kmon.png" alt="" data-rjs="2">
            <h2>kmon</h2>
            <span class="author-info">soldier..</span>
            <span class="author-info" style="margin: 10px 0 27px;">15.10.12~17.7.11
            </span>
            <!-- <div class="social">
                <a href="#" title="Twitter"><i class="icon-social_twitter_circle"></i></a>
                <a href="#" title="Github"><i class="icon-social_github_circle"></i></a>
                <a href="#" title="LinkedIn"><i class="icon-social_linkedin_circle"></i></a>
            </div> -->
            <ul class="author-nav">
                <li>
                <!-- <span class="fa fa-search"></span> -->
                <!-- <a>
                <input class="form-control" type="text" placeholder="Search" />
                <span class="input-group-btn">
                <button type="submit" class="">
                </span>
                </a> -->
                <div class="input-group">
                    <span class="col-xs-8 search-text">
                    <input class="form-control" type="text" name="x" placeholder="Search">
                    </span>
                    <span class="col-xs-4">
                        <div class="search btn-primary">
                        <i class="fa fa-search"></i>
                        </div>
                    </span>

                </div>
                </li>
                <li><a href="#" title=""><i class="pe-7s-paper-plane"></i> Write message</a></li>
            </ul>
        </aside>

        <aside class="categories">
            <h2 class="aside-title">Categories</h2>
            <ul>
                <li class="nav-elipse-yellow"><a href="/blog/note" title="Blog CSS articles">Note</a></li>
                <li class="nav-elipse-red"><a href="/blog/linux" title="Blog HTML articles">Linux</a></li>
                <li class="nav-elipse-blue"><a href="/blog/web" title="Blog Javascript articles">Web</a></li>
                <li class="nav-elipse-green"><a href="/blog/network" title="Blog raphic articles">Network</a></li>
                <li class="nav-elipse-gray"><a href="/blog/" title="Blog other articles">Home</a></li>
            </ul>
        </aside>

        

        <aside class="last-project">
            <h2 class="aside-title">Last Project</h2>
            <div class="last-project-one">
                <h3 class="h4"><a href="#">Microsoft TypeScript</a></h3>
                <time datetime="2016-12-31T23:59:59Z">January 18, 2016</time>
                <p class="font-primary">TypeScript starts from the same syntax and semantics that millions of
                    JavaScript developers know... </p>
                <a href="" title="Watch it" class="btn btn-small">Watch it</a>
            </div>
        </aside>

        <aside class="tags">

            <h2 class="aside-title">Tags</h2>
            <div class="row">
            <div class="tags-content">
              
            <span class="tag tag-pill tag-default col-xs-4">
            <a href="#">graphic</a></span>
                <span class="tag tag-pill tag-default col-xs-6"><a href="#">angular2</a></span>
                <span class="tag tag-pill tag-default col-xs-6"><a href="#">graphic</a></span>
                <span class="tag tag-pill tag-default col-xs-4"><a href="#">react</a></span>
                <span class="tag tag-pill tag-default col-xs-3"><a href="#">it</a></span>
            </div>

                <span class="tag tag-pill tag-default col-xs-3"><a href="#">science</a></span>
            </div>
        </aside>
    </section>
    </div>

</div>